.orderPage{
    color: #37054f;
    .container{
        width: 380px;
        text-align: center;
        margin: 0 auto;
        @media (min-width: 760px) {
            width: 630px;
          }
          @media (min-width: 1010px) {
            width: 1000px;
            text-align: center;
          }
          @media (min-width: 1300px) {
            width: 1200px;
            text-align: center;
          }
    }
    .main{
        button{
            background-color: #8b58fa;
            &:hover{
              background-color: #9e7bea !important;
            }
            @media(min-width: 760px) {
                width: 300px;
                height: 50px;
                font-size: 16px;
            }
          }
          label{
            @media(min-width: 760px) {
                font-size: 16px;
            }
          }
          @media (min-width: 760px) {
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 30px;
          }
        .form_inner{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 50px;
            margin-bottom: 50px;
            @media(min-width: 760px){
                flex-direction: row;
                gap: 20px;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
            input{
                padding: 10px 15px;
                border: none;
                outline: none;
                font-size: 16px;
                background-color: #f2f2f2;
                &:focus{
                    background-color: white !important;
                    border: #8b58fa 1px solid !important;
                }
                @media(min-width: 760px){
                    width: 300px;
                    height: 50px;
                }
                @media(min-width: 1010px){
                    width: 400px;
                }
            }
            .img{
                background-image: url('/collection/samin4.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 15px;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                @media(min-width: 760px){
                    width: 300px;
                    height: 300px;
                }
                @media(min-width: 1010px){
                    width: 400px;
                    height: 50px;
                }
                @media(min-width: 1300px){
                    width: 500px;
                    height: 600px;
                }
                h3{
                    font-size: 30px;
                    font-family: serif;
                    color: #ffffff;
                    margin-top: 8px;
                    background-color: #9c70fbd9;
                    padding: 10px;
                    border-radius: 10px;
                    @media(min-width:760px){
                        font-size: 20px;
                    }
                    @media(min-width: 1010px){
                        font-size: 30px;
                    }
                }
            }
        }
    }
}