.aboutUsPage {
    padding-bottom: 50px;
    color: #37054f;
.container {
    width: 380px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    @media (min-width: 760px) {
      width: 630px;
    }
    @media (min-width: 1010px) {
      width: 900px;
      text-align: center;
    }
    @media (min-width: 1300px) {
      width: 1200px;
      text-align: center;
    }
  }
  h2{
    font-size: 30px;
      margin: 0;
      width: 300px;
      margin: 0 auto 20px;
      @media (min-width: 760px) {
        padding-top: 50px;
        font-size: 40px;
      }
  }
  p {
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    width: 330px;
    @media (min-width: 760px) {
      font-size: 18px;
      width: 550px;
    }
    @media (min-width: 1010px) {
      width: 800px;
      
    }
  }
  img{
    margin-top: 20px;
    height: 210px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    @media (min-width: 760px) {
      height: 300px;
      margin-top: 50px;
    }
    @media(min-width: 1010px) {
      height: 350px;
      width: 85%;
      margin: 50px auto 0;
    }
    @media(min-width: 1200px) {
      height: 400px;
      width: 70%;
      margin: 50px auto 0;
    }
  }
}
