.mainPage{
    .container{
        width: 380px;
        margin: 0 auto;
    }
    .header{
        height: 100vh;
        background-image: url('../../../public/mainPage/buguene_back.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 50px;
        .filter{
            background: rgba(255, 255, 255, 0.2);
            height: 100%;
            width: 100%;
            backdrop-filter: blur(2px);
            display: flex;
            justify-self: center;
            align-items: center;
        }

        height: 532px;
        font-size: 30px;
        text-align: center;
        h1{
            margin: 0;
        }
    }

    .aboutUs{
        padding: 50px;
        h2{
            font-size: 30px;
            margin: 0;

        }
        p{
            font-size: 16px;
            line-height: 30px;
            width: 300px;
        }
    }

    .products{
        margin-bottom: 50px;
        .title{
            font-size: 28px;
            margin: 0;
            text-align: center;
        }
        img{
            height: 200px;
            object-fit: cover;
        }
    }

}




