.header {
  background-color: #b491ff;
  height: 57px;
  margin: 0;
  color: white;
  .headerContainer {
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    @media (min-width: 760px) {
      width: 690px;
    }
    @media(min-width: 1000px) {
      width: 940px;
    }
    .logo {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        height: 57px;
      }
      p {
        overflow-wrap: break-word;
        width: 34px;
        font-size: 12px;
      }
      #left {
        text-align: right;
      }
    }
  }
  .menu {
    position: absolute;
    top: 20px;
    right: 0px;
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(-50%, -50%);
    button:hover {
      border: #8b58fa 1px solid !important;
      color: #8b58fa !important;
    }
  }
}

.drawer_pages {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 20px;
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    &:hover {
      color: #a200ff;
    }

    .drawer_pages {
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding: 0 20px;
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        &:hover {
          color: #a200ff;
        }
      }
      
    }
  }
}

.drawer {
  div {
    color: #ffffff !important;
    font-size: 25px !important;
  }
  a {
    color: #ffffff;
    font-size: 16px;
  }
  button {
    background-color: #8b58fa;
    &:hover {
      background-color: #9e7bea !important;
    }
    @media(min-width: 760px) {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
    }
  }
}
