.footer {
  background-color: #b491ff;
  &Container {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .logo {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        height: 100px;
      }
      h2 {
        overflow-wrap: break-word;
        width: 78px;
        font-size: 23px;
        font-weight: 400;
        color: white;
      }
      .left{
        text-align: right;
      }
    }
    p{
        color: rgba(255, 255, 255, 0.548);
        font-size: 14px;
        margin: 0 0 20px 0;
    }
  }
}
